/* RequestChangeForm.module.css */
.main {
    position: relative; /* Set position to relative */
    padding-top: 40px;
    padding-bottom: 40px;
}

.formContainer {
    background-color: #1a1e24;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin:  auto !important; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    
}

.formTitle {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 10px;
}

.formLabel {
    margin-bottom: 5px;
    font-weight: bold;
}

.formInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.submitBtn {
    background-color: #fff;
    color: #242629 !important;
    border: none;
    padding: 1px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #242629
}