
.centeredContainer {
	display: flex;
	justify-content: center;
  }

  .container {
	width: 80%;
	padding: 20px;
	background-color: #f9f9f9;
  }
  
.employeeTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.employeeTable th, .employeeTable td {
  border: 1px solid #ddd;
  padding: 12px;
  
  text-align: left;
}

.employeeTable th {
  color: #242629;
  font-weight: bold;
}

.employeeTable td {
  vertical-align: middle;
}

.employeeInfo {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.userInfo {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
  }

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }

.employeeName {
  font-weight: bold;
}

.employeeJob {
  color: gray;
}

.employeeEditBtn {
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.2em;
  color: orange !important;
}


.iconButton {
    color: #333 !important; 
    background-color: #f4f4f4 !important; 
    border: none !important; 
    border-radius: 5px !important;
  }
  
  .iconButton:hover {
    background-color: #ddd !important   ; /* Change background color on hover */
  }