
/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px #ffffff !important;
		color: #ffffff !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			box-shadow: inset 0 0 0 2px #18bfef;
			color: #18bfef !important;
		}

/* Form */

	form {
		margin: 0 0 0rem 0 !important;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3rem);
			margin: -1.5rem 0 3rem -1.5rem !important;
		}


	label {
		display: block;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		font-size: 1.2rem !important;
		text-transform: uppercase;
		margin: 0 0 0.75rem 0;
		color: #ffffff !important;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: transparent;
		border-radius: 0;
		border: solid 2px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
		background-color: #ffffff !important;
	}



	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height:3rem;
		margin: auto !important;
	}

	textarea {
		padding: 0.75rem 0rem !important;
	}



		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: block !important;
			font-size: 1rem;
			letter-spacing: 0;
			font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
			text-transform: none;
			font-weight: 300;
			padding-left: 2.8rem;
			padding-right: 1rem;
			position: relative;
			float: left;
			margin-top: -2rem ;
			margin-bottom: 2rem ;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		border-color: #747474 !important;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #18bfef;
		}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display:inline-block !important;
		cursor: default;
		list-style: none;
		margin-left: -1rem !important;
		padding-left: 0;
		margin-right: 100% !important;
		
	}
	
	ul.actions li input{
		color: #ffffff !important;
	}

	ul.actions:hover{
		border-color: #18bfef !important;
	}

/* Main */

		 .post {
			padding: 8rem 8rem 6rem 8rem ;
		}

			 .post header.major > .date {
				margin-top: 5rem ;
			}

			 .post header.major > h1,  .post header.major h2 {
				font-size: 4rem;
				line-height: 1.1;
				margin: 0 0 2rem 0;
			}

			 .post.featured {
				text-align: center;
			}

			@media screen and (max-width: 1280px) {

				 .post {
					padding: 6rem 4rem 4rem 4rem ;
				}

			}

			@media screen and (max-width: 736px) {

				 .post {
					padding: 4rem 2rem 2rem 2rem ;
				}

					.post header.major > .date {
						margin-top: -1rem;
						margin-bottom: 2rem;
					}

					 .post header.major > h1,  .post header.major h2 {
						font-size: 2.5rem;
						line-height: 1.2;
						margin: 0 0 1.5rem 0;
					}

			}
		
			

		 .signupForm {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-align-items: -moz-stretch;
			-webkit-align-items: -webkit-stretch;
			-ms-align-items: -ms-stretch;
			align-items:center;
			text-align: center !important;
			width: 80%;
			padding: 0;
			background-color: #1e252d !important ;
			margin: auto !important;
			
		}

		 .signupForm  .form{
			margin: 0 auto!important;
			margin-top: 1.5rem !important;
			width: 70% !important;

		}

			 .signupForm > * {
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
			}

			 .signupForm > * {

				text-align:center ;
			}

			 .signupForm > * {
				padding: 1.5rem;
				margin-right: 20%;
				margin-left: 20%;
				
			}
			
			.name{
				display: inline !important;
				width: 48% !important;
			}

			.lastName{
				display: inline !important;
				width: 48% !important;
			}
			
			.signupButton{
				display: block;
			}

			.signupForm > form >  .noAcc{
				color: #eeeeee !important;
				display: inline-block;
				margin-right: 0 !important;
				margin-left: 0 !important;
				margin: 0 !important;

			}
			 .signupForm > form > .noAcc > .signupLink{
				color:#b3b7bb;
				text-decoration: underline;
			}

				 .signupForm > article > :last-child {
					margin-bottom: 0;
				}

				 .signupForm > article:nth-child(2n - 1) {
					border-left-width: 0;
				}

				.signupForm > article:nth-child(-n + 2) {
					border-top-width: 0;
				}

			.errClass {
				font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				color: #eeeeeed8 !important;
				font-size: 15px;
				margin:0;
			}

			@media screen and (max-width: 980px) {

				 .signupForm > * {
					width: 50%;
				}

				 .signupForm > * {
					padding: 2.5rem;
					width: 50%;
				}

			}

			@media screen and (max-width: 736px) {

				 .signupForm > * {
					width: 100%;
				}

				 .signupForm > * {
					padding: 2rem;
					width: 100%;
				}

				 .signupForm > article:nth-child(2n - 1) {
					border-left-width: 2px;
				}

				 .signupForm > article:nth-child(-n + 2) {
					border-top-width: 2px;
				}

				 .signupForm > article:nth-child(n) {
					border-left-width: 0;
				}

				 .signupForm > article:nth-child(-n + 1) {
					border-top-width: 0;
				}

				 .signupForm > article .image {
					max-width: 25rem;
					margin-left: auto;
					margin-right: auto;
				}

			}

		@media screen and (max-width: 736px) {

			 * {
				padding: 2rem 2rem 0.1rem 2rem ;
			}

		}

		@media screen and (max-width: 480px) {

			#main {
				width: 100%;
			}

		}
